<html>


<body>


    <table>
        <tr>
            <td class="couleurFond">ID</td>
            <td class="couleurFond">Nom Produit</td>
            <td class="couleurFond">image</td>
            <td class="couleurFond">quantite</td>
            <td class="couleurFond">categorie</td>
            <td class="couleurFond">Action 1</td>
            <td class="couleurFond">Action 2</td>

        </tr>

        <tr>
            <td>{{produits.idProduit}}</td>
            <td>{{produits.libProduit}}</td>
            <td><img src="http://localhost:9092{{produits.img}}" width="100" height="60"></td>
            <td>{{produits.quantite}}</td>
            <td>{{produits.categorie.nomCategorie}}</td>
            <td><button (click)="supprimer(produits.idProduit)"> Supprimer </button></td>
            <td><button (click)="modifier(produits.idProduit)"> Modifier </button></td>




        </tr>




    </table>

</body>

</html>